<div class="espacamento-topo">
  <p class="branco media">Para carregar os arquivos clique no botão "Upload". Apenas arquivos no formato XML podem ser
    carregados.</p>
  <p class="branco media">Para olhar as duplicadas de um arquivo clique no botão "Duplicadas".</p>
  <p class="branco media">Para remover um arquivo clique no botão "Remover".</p>
</div>
<div class="espacamento-topo">
  <p-fileUpload #fileUpload (onSelect)="selecionarArquivos($event)" chooseLabel="Upload" [multiple]="true" accept=".xml"
    [showUploadButton]="false" [showCancelButton]="false">
    <ng-template pTemplate="file">
    </ng-template>
    <ng-template pTemplate="content">
      <p-table [value]="arquivoXmlService.arquivos" [columns]="cols" [paginator]="true" [alwaysShowPaginator]="false"
        [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th class="negrito" *ngFor="let col of cols">
              {{col.header}}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-arquivo>
          <tr>
            <td class="pequena" *ngFor="let col of cols">
              <ng-container *ngIf="col.header === 'Valor Nota'; else valorPadrao">
                {{arquivo[col.campo] | currency:'BRL':'symbol'}}
              </ng-container>
              <ng-template #valorPadrao>
                {{arquivo[col.campo]}}
              </ng-template>

            </td>
            <td class="alinhamento-botoes">
              <button class="espacamento-botoes" pButton type="button" label="Duplicatas"
                (click)="redirecionarDuplicatas(arquivo)"></button>
              <button class="espacamento-botoes" pButton type="button" label="Remover"
                (click)="confirmar(arquivo.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-fileUpload>
</div>

<p-confirmDialog appendTo="body" [style]="{width: '50vw'}" [baseZIndex]="1000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>